@model Inventory.Models.Product

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DallasAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DallasAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DallasOper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DallasOper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернутся к списку</a>
    </form>
</div>
